body{
    width:700px;
    border:20px solid #707a87;
    margin:0 auto;
    padding: 30px;
    font-family: "Source Sans Pro"

}
.initial{
    border-left: 7px #aaafb6 solid;
}

p{
    padding: 7px;

}

#special{
    padding-bottom: 30px;
}

h1{
    color: #093060;
}

/*hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}*/

hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
h2{
    padding-top:15px;
}


